* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #555e65; }

textarea {
  font-family: Consolas, monaco, monospace;
  font-size: 14px;
  color: #666;
  background: #fafafa;
  width: 100%;
  resize: none;
  padding: 14px 21px;
  display: block; }
  textarea::-webkit-scrollbar {
    width: 5px; }
  textarea::-webkit-scrollbar-thumb {
    background: rgba(47, 50, 59, 0.1); }

.clearfix:after {
  content: '';
  clear: both; }

.header {
  height: 64px;
  line-height: 64px;
  padding: 0 21px;
  border-bottom: 1px solid #e9e9e9;
  background: #2F323B;
  color: #fff; }

.app-title {
  font-size: 27px;
  font-weight: 300; }

.main, .side {
  display: block;
  width: 50%;
  float: right;
  height: 100%;
  height: calc(100% - 64px); }

.side {
  border-right: 1px solid #e9e9e9; }

.code-block {
  height: 50%;
  border-bottom: 1px solid #e9e9e9; }
  .code-block:last-child {
    border: 0; }
  .code-block textarea {
    height: 100%;
    height: calc(100% - 57px); }

.code-title {
  border-bottom: 1px solid #e9e9e9;
  padding: 21px;
  font-size: 14px;
  line-height: 1;
  font-weight: bold; }
